pkgbase = python-rich
	pkgdesc = Render rich text, tables, progress bars, syntax highlighting, markdown and more to the terminal
	pkgver = 13.6.0
	pkgrel = 1
	url = https://github.com/willmcgugan/rich
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-wheel
	depends = python-colorama
	depends = python-markdown-it-py
	depends = python-pygments
	source = https://github.com/willmcgugan/rich/archive/v13.6.0/rich-13.6.0.tar.gz
	b2sums = f9182d45ee5ebd802e0b5a02de7a8c27b98770fc97be7ad098aa0c77076bfe38af8d9434bcf961dd300718e1f4e14ee8bf669a89e8f7a24cd4d9817e11552f81

pkgname = python-rich
